<!-- 删除默认生成的app index首页面，自定义页面的内容 

总的APP Index Web页面的内容: 页面静态的navbar 
<h2>Hello Angular</h2>
<ul>
  <li><a routerLink="/">Home Page</a></li>
  <li><a routerLink="/user">User Page</a></li>
  <li><a routerLink="/login">Login Page</a></li>
</ul> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h4>Hello Angular</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login"><h4>Login</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user"><h4>User</h4></a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>

<!-- 路由标签，需要配置指定的路由跳转 -->
<!-- 下面的内容会被替换成具体的component页面的内容 -->
<router-outlet></router-outlet>