<nav>
    <ul>
        <!-- use routerLink to go to every component  -->
        <li>
          <a routerLink=""> <i class="material-icons">supervised_user_circle</i> User information </a>
        </li>
        <li>
            <a routerLink="posts"> <i class="material-icons">message</i> Messages page  </a> <span class='air'>3</span>
        </li>
        <li>
            <a routerLink=""> <i class="material-icons">collections</i> Collection page </a> <span class='air'>10</span>
        </li>
        <li>
            <a routerLink=""> <i class="material-icons">history</i> Your History </a>
        </li>
        <li>
            <a routerLink=""> <i class="material-icons">home</i> Message Center </a>
        </li>
    </ul>
</nav>

