<div class="modal-header">
    <h1>{{ topic }}</h1>
    <h2 class="modal-title ml-auto pl-5" id="exampleModalLabel">
      <span>{{ config.title }}</span>
    </h2>
    <button
      type="button"
      class="close pull-right"
      (mousedown)="onClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    {{ message }}
    <br />
    Username: <input type="text" [(ngModel)]="userInfo.username" /><br />
    Passowrd:<input type="text" [(ngModel)]="userInfo.password" />
  </div>
  <div class="modal-footer d-flex justify-content-center m-3">
    <button type="submit" class="btn btn-primary">{{ config.save }}</button>
    <button type="button" class="btn btn-dark btn-pill" (mousedown)="onClose()">
      {{ config.cancel }}
    </button>
  </div>