/* 整体组件使用的CSS样式文件 */

.navbar {
    background-color: antiquewhite !important;
}

.navbar-brand {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.form-inline {
    margin-right: 20px !important;
}